.overlay {
  height: 500px;
  width: 100%;
  color: #ffffff;
  overflow-y: scroll;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.description__left {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 50%;
}

.description__left h1 {
  max-height: 180px;
  margin-bottom: 50px;
  font-size: 50px;
}

.description__left h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.description__left p {
  font-size: larger;
}

.description__right {
  width: 30%;
  margin-right: 10px;
  font-size: larger;
  position: relative;
}

.description__right p {
  margin-bottom: 20px;
}

.overlay__button {
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  border-radius: 0.2vw;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem 2rem;
}

.overlay__button:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.2s;
}

@media screen and (max-width: 500px) {
.overlay {
    height: 580px;
    width: 100%;
    overflow-y: scroll;
  }
}

.tvEpisodes {
  margin-left: 50px;
  margin-right: 80px;
  background-color: rgb(92, 92, 92, 0.5);
  border-radius: 1vw;
  padding-bottom: 15px;
}

.seasonBox {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.seasonBox h2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.seasons {
  right: 0;
  margin-top: 20px;
  margin-right: 50px;
  position: absolute;
  color: #fff;
  background-color: rgb(11,11,11, 0.7);
  border: none;
  border-radius: 0.4vw;
  height: 40px;
  width: 120px;
  font-size: larger;
}

.episodeList {
  margin-top: 80px;
  margin-left: 20px;
  height: 100vh;
  overflow-y: scroll;
}

.episodeList::-webkit-scrollbar {
  background: none;
  height: 10px;
}

.episodeList::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 1vw;
}

.episode {
  border-radius: 0.5vw;
  background-color: rgb(11,11,11, 0.7);
  height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding: 15px;
  contain: content;
  position: relative;
  display: flex;
  cursor: pointer;
}

.episode__img {
  min-width: 160px;
  max-width: 160px;
  border-radius: 0.5vw;
  margin-left: 15px;
}

.episode__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.episode__content {
  margin-left: 20px;
}

.episode h2 {
  display: inline;
  padding: 30px 0;
}

.casts {
  margin-left: 50px;
  margin-right: 80px;
  margin-bottom: 30px;
  background-color: rgb(17,17,17, 0.8);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1vw;
}

.casts__list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.casts__list::-webkit-scrollbar {
  background: none;
  height: 10px;
}

.casts__list::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 1vw;
}

.actor {
  margin-right: 10px;
  width: 120px;
  cursor: pointer;
}

.actor__profileImg {
  flex-shrink: 0;
  size: cover;
  width: 120px;
  height: 180px;
}