.row {
  color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
}

.row__posters {
  object-fit: contain;
  display: flex;
  padding: 20px 0 20px 0;
  overflow-x: auto;
}

.row__posters::-webkit-scrollbar {
  background: none;
  height: 10px;
}

.row__posters::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 1vw;
}

.row__poster {
  margin-right: 10px;
  max-height: 100px;
  object-fit: contain;
  opacity: 0.8;
  transition: transform 0.45s;
  width: 100%;
}

.row__poster:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  opacity: 1;
  transform: scale(1.09);
}