.player {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.backButton {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 40px !important;
}