body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

#Search::-webkit-search-cancel-button {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
}

.app {
  background-color: #111;
}

.row {
  color: #fff;
  margin-left: 20px;
}

.row__posters {
  object-fit: contain;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0 20px 0;
  width: max-content;
  transition: all 0.5s ease;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  margin-right: 10px;
  max-height: 100px;
  object-fit: contain;
  opacity: 0.8;
  transition: transform 0.45s;
  width: 100%;
}

.row__poster:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  opacity: 1;
  transform: scale(1.09);
}

.banner {
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 448px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-top: 65px;
}

.banner__contents {
  height: 190px;
  margin-left: 30px;
  padding-top: 140px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  font-size: 16px;
  height: 80px;
  line-height: 1.3;
  line-height: 24px;
  max-width: 500px;
  padding-top: 1rem;
  width: 45rem;
}

.banner__button {
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  border-radius: 0.2vw;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem 2rem;
}

.banner__button:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.2s;
}

.banner--fadeBottom {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  height: 7.4rem;
}

.nav {
  background: #111;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  width: 100%;
  z-index: 999;
}

.nav__black {
  background-color: #111;
}

.nav__left {
  display: flex;
  align-items: center;
  flex: 1 1;
  gap: 2rem;
  color: #d6cccc;
}

.nav__logo {
  left: 20px;
  width: 80px;
  cursor: pointer;
}

.nav__home:hover,
.nav__movies:hover,
.nav__shows:hover {
  cursor: pointer;
  color: rgb(160, 159, 159)
}

.nav__right {
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  padding-right: 30px;
  transition: all 0.4s;
}

.nav .MuiSvgIcon-root {
  color: white;
  font-size: 1.7rem;
}
.nav__right .MuiSvgIcon-root {
  margin: auto 7px;
  cursor: pointer;
}

.nav__right form {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: -26px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s, opacity 0.4s;
}

.nav__right form > input {
  background-color: black;
  outline: none;
  font-size: 0.95rem;
  padding: 7px 40px;
  width: 240px;
  border-radius: 2px;
  border: 1.6px solid white;
  line-height: 1;
  color: white;
  display: flex;
  align-items: center;
  min-height: 36px;
  text-decoration: none;
}

.searchCross {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  background: transparent;
  font-size: 1.4rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.searchIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  color: #e5e5e5;
  -webkit-animation: zoomAnimation 0.6s;
  animation: zoomAnimation 0.6s;
  transition: all 0.5s !important;
  font-size: 1.4rem !important;
}

.nav .showSearch {
  opacity: 1;
  transform: scaleX(1);
}

.nav__avatar {
  right: 20px;
  width: 30px;
}

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://assets.nflxext.com/ffe/siteui/vlv3/11c803d4-06f3-467e-91f7-0560ce15a396/5ac22c62-f87e-45e3-8746-418d647185c9/VN-en-20210517-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  min-height: 100vh;
}

.starting-body {
  align-items: center;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

.login-body__form {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  margin-top: 62px;
  max-width: 420px;
  min-width: 420px;
  padding: 48px 62px;
}

.starting-body h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 28px;
  margin-top: 150px;
}

.mb-16 {
  margin-bottom: 16px;
}

.starting-body__watch-btn {
  background: #A90707;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  margin-top: 32px;
  outline: none;
  padding: 16px;
  width: 30%;
  height: 23%;
}

.starting-body__watch-btn:hover {
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.sliderArrow {
  font-size: 30px !important;
  height: 100% !important;
  background-color: rgb(22, 22, 22, 0.5);
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.mgr-8 {
  margin-right: 8px;
}

.searchResult {
  background-color: #111 ;
  color:#d6cccc;
  min-height: 90vh;
}

.search__query {
  word-wrap: break-word;
  word-break: keep-all;
  color: #e50914;
  margin: 0 6px;
}

.noResultFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.suggestions {
  margin: auto;
  padding: 15px;
}
.noResultFound .suggestions div {
  margin-bottom: 15px;
}
.noResultFound ul {
  margin-left: 50px;
}
.noResultFound ul > li {
  margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
  .searchResult {
    min-height: 600px;
  }
  .searchResult {
    margin-top: 6rem;
  }
  .noResultFound {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 550px) {
  .noResultFound {
    font-size: 0.8rem;
  }
  .noResultFound ul {
    margin-left: 1.9rem;
  }
}

@media screen and (max-width: 400px) {
  .searchResult {
    min-height: 500px;
  }
  .noResultFound {
    font-size: 0.76rem;
  }
}

.overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.overlay__left {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 50%;
}

.overlay__left h1 {
  max-height: 180px;
  margin-bottom: 50px;
  font-size: 50px;
}

.overlay__left h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.overlay__left p {
  font-size: larger;
}

.overlay__right {
  width: 30%;
  margin-right: 10px;
  font-size: larger;
}

.overlay__right span {
  font-weight:bold;
}

.overlay__right p {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .overlay {
    height: 580px;
    width: 100%;
    overflow-y: hidden;
  }
}

.player {
  position:fixed;
  height: 100vh;
  width: 100vw;
}

.footer {
  background-color: #000000be;
  color: white;
  margin-top: 20px;
  height: 150px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer h1 {
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.footer a {
  margin-top: auto;
  margin-bottom: auto;
}

.credits {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
}